.primary-btn{
    margin: 15px .625rem;
    padding: 15px 50px;
    width: 220px;
    border: 1px solid $text-color;
    border-radius: 128px;
    text-align: center;
    cursor: pointer;
    font-size: 17.5008px;
    font-weight: 600;
    line-height: 1.5625rem;
}