@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: calc(20px + 1vw);
    line-height: 1;
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: calc(10px + 0.5vw);
    line-height: 1;
    color: $text-color;
}