.catalog {
  flex-grow: 1;

  &__panel {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
    width: 100%;
    height: 1.875rem;
    border: 1px solid black;
    border-radius: 0.3125rem;
    font-size: 1rem;
    line-height: 1rem;

    span {
      display: flex;
      width: 33.3%;
      padding: 0 0.625rem;

      &:nth-child(2) {
        justify-content: center;
      }

      &:nth-child(3) {
        justify-content: flex-end;
      }
    }
  }

  &__search-field {
    width: 6.25rem;
  }

  &__prod-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.625rem;
    column-gap: 0.625rem;

    &.small {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__empty-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    font-size: 1.25rem;
    line-height: 1;
    color: black;
  }
}
