.page-product {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start  ;
  align-content: space-between;
  border: .0625rem solid black;
  border-radius: 5px;
  @extend .text;
}

.product{
  &__path {
    margin: 2.5rem auto;
  }
  &__card{
    margin: 1.2rem;
    display: grid;
    justify-items: start;
    grid-template-columns:  80px 0.7fr 1fr;
    gap: 4%;
  }
  &__description{
    display: grid;
    row-gap: 1.875rem;
    &-img{
      width: auto;
      max-width: 100%;
      min-width: 208px;
      min-height: 208px;
    }
    &-btn{
      text-align: left;
      padding: .625rem 0 .625rem .625rem;
    }
  }
  &__info{
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    width: 100%;
    &-price{ 
      display: flex;
      flex-direction: row;
      align-items: center;
      
      > *:before {
        content: "$";
      }
      >:last-child{
        margin-left: 32px;
        text-decoration: line-through;
        opacity: 0.7;
      }
    }
    &-title{
      display: grid;
      >:first-child{
        @extend .title;
      }
      @media (min-width: 1060px) {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-between;
        >:last-child{
          justify-self: end;
        }
      }
      @media (max-width: 1060px) {
        grid-template-row: repeat(2, 1fr);
        align-content: space-between;
        gap: 10%;
        >:last-child{
          justify-content: end;
          font-size: calc(20px + 1vw);
        }
      }
      @media (max-width: 590px) {
        >:first-child{
          @extend .title;
          font-size: calc(20px + 1vw);
        }
        >:last-child{
          justify-content: end;
          font-size: calc(20px + 1vw);
        }
      }
    }
    &-stock{
      display: flex;
      align-items: center;
      &:before {
        content: "";
        width: 1.125rem;
        height: 1.125rem;
        margin-right: .625rem;
        border-radius: 50%;
        background: $highlight-color;
        filter: blur(.15rem);
      }
    }
  }
}