.page-product {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border: 1px solid black;
  border-radius: 0.3125rem;
}

.product{
  &__path {
    margin: 40px auto;
  }
  &__card{
    margin: 40px;
    display: grid;
    justify-items: start;
    grid-template-columns:  80px 33rem 1fr;
    gap: 5%;
  }
  &__description{
    display: grid;
    row-gap: 30px;
    &-img{
      width: 33rem; 
      height: 25rem;
    }
    &-btn{
      text-align: left;
      padding: 10px 0 10px 10px;
    }
  }
  &__info{
    width: 100%;
    &-price{ 
      display: flex;
      flex-direction: row;
      align-items: center;
      > *:before {
        content: "$";
      }
      >:last-child{
        margin-left: 2rem;
        text-decoration: line-through;
        opacity: 0.7;
      }
    }
    &-title{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      >:first-child{
        font-size: 2rem;
      }
    }
    &-stock{
      display: flex;
      align-items: center;
      &:before {
        content: "";
        width: 18px;
        height: 18px;
        margin-right: 10px;
        border-radius: 50%;
        background: #6FFF00;
        filter: blur(2px);
      }
    }
  }
}