.page-main {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
}

.catalog {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 0.625rem;
  column-gap: 0.625rem;
}
